.background {
    display: flex;
    justify-content: center;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background: transparent;
}

#top-right-background {
    position: absolute;
    background-image: url('../../data/blob.svg');
    background-size: 1500px;
    background-repeat: no-repeat;
    top: -5px;
    right: -25px;
    height: 600px;
    width: 60%;
    min-width: 550px;
    z-index: 0;
    filter: invert(28%) sepia(100%) saturate(1681%) hue-rotate(184deg) brightness(91%) contrast(102%);
    }

#bottom-left-background {
    position: absolute;
    background-image: url('../../data/blobLeftBottom.svg');
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
    top: 0px;
    bottom: 0px;
    right: 450px;
    height: 1050px;
    width: 88%;
    min-width: 920px;
    z-index: 0;
    filter: invert(28%) sepia(100%) saturate(1681%) hue-rotate(184deg) brightness(91%) contrast(102%);
    }