@media all and (min-width: 1001px) {
    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .background-container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        background: transparent;
        z-index: -1;
        &--left {
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 0px;
            right: -60vw;
            overflow: hidden;
            background: transparent;
            z-index: -1;
        }
    }

    .grid__footer__splitter {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
        & svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 30px;
        }
        & .shape-fill {
            fill: #FFFFFF;
        }
    }
}

@media all and (max-width: 1001px) {
    .background-container {
        display: none;
    }
    .grid__footer__splitter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
        & svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 20px;
        }
        & .shape-fill {
            fill: #FFFFFF;
        }
    }
    
}