@import './colors-and-fonts';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: 50px;
    background: #007AC9;
    &__logo {
        position: absolute;
        left: 5px;
        top: 15px;
        width: 60px;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    &__create-new {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 120px;
        align-items: center;
        justify-content: center;

        &__btn {
            border: 0px;
            border-radius: 15px;
            height: 30px;
            width: 90px;
            color: #0065a8;
            background-color: white;
            text-align: center;
            font-family: $buttonFont, sans-serif;
            &:disabled {
                display: none;
            }

            &:hover {
                background-color: #dedede;
            }
        }
    }
}

.single-station-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background: #007AC9;
    &__logo {
        display: flex;
        justify-self: flex-start;
        width: 60px;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }
}