@import './colors-and-fonts';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 100vw;
    height: 50px;
    background: #007AC9;
    &__logo {
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    &__switch {
        @media all and (min-width: 1001px) {
            display: none;
        }
        @media all and (max-width: 1000px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 162px;

            height: 32px;
            border-radius: 3px;
        }
        &__btn {
            height: 30px;
            width: 80px;
            border-radius: 3px;
            border: 0px;
            transition: background-color .3s ease-out;
            z-index: 1;
            background: transparent;
            color: black;
                font-family: $buttonFont, sans-serif;
                font-size: 16px;
                font-weight: 500;
                font-stretch: expanded;
                letter-spacing: 0px;
        }
    }

    &__create-new {
        position: relative;
        align-items: center;
        justify-content: center;

        &__btn {
            border: 0px;
            border-radius: 15px;
            height: 30px;
            width: 90px;
            margin-right: 15px;
            color: #0065a8;
            background-color: white;
            text-align: center;
            font-family: $buttonFont, sans-serif;
            &:disabled {
                display: none;
            }

            &:hover {
                background-color: #dedede;
            }
        }
        &__form {
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: #DEDEDE;
            top: 34px;
            right: 15px;
            width: 200px;
            height: 200px;
            border-radius: 5px;
            &__close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                height: 16px;
                width: 16px;
                border: 0px;
                background-image: url('../../data/closeIcon.svg');
                background-size: 100%;
                background-color: transparent;
                filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
            }
        }
    }
}

.single-station-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background: #007AC9;
    &__logo {
        display: flex;
        justify-self: flex-start;
        width: 60px;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }
}

.selected-switch {
    color: white;
}