@import './colors-and-fonts';
@import './sliders';
.journeys {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 65px 488px 10px;
    background: transparent;
    width: 100%;
    z-index: 0;

    &__title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 1;
        width: 100%;
        height: 100%;
        padding-top: 4px;
        padding-left: 10px;
        z-index: 1;
        justify-content: flex-start;
        
        &__text {
            z-index: 1;
            text-transform: uppercase;
            mix-blend-mode: difference;
            font-size: 50px;
            font-family: $font, sans-serif;
            font-weight: 500;
            font-stretch: expanded;
            letter-spacing: 0px;
            color: #007AC9;
        }
    }

    &__header {
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
        justify-self: center;

        &__search {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 200px;
            height: 70px;
            margin-right: 10px;

            &__return {
                position: relative;
                
                &__logo {
                    @extend input-logo;
                    height: 25px;
                    width: 25px;
                    top: 5px;
                    left: 5px;
                    filter: invert(73%) sepia(9%) saturate(2369%) hue-rotate(283deg) brightness(98%) contrast(92%);
                }
        
                &__input {
                    @extend input-field;
                    padding-right: 0px;
                    padding-left: 30px;
                    width: calc(100% - 30px);
                    :focus {
                        @extend input-field-focus;
                    }
                }
            }

            &__departure {
                position: relative;
        
                &__logo {
                    @extend input-logo;
                    height: 25px;
                    width: 25px;
                    top: 5px;
                    left: 5px;
                    filter: invert(60%) sepia(37%) saturate(1265%) hue-rotate(52deg) brightness(102%) contrast(76%);
                }
        
                &__input {
                    @extend input-field;
                    padding-right: 0px;
                    padding-left: 30px;
                    width: calc(100% - 30px);
                    :focus {
                        @extend input-field-focus;
                    }
                }
            }
        }

        &__all {
            display: flex;
            position: relative;
            height: 80px;
            width: 270px;
            margin-left: 0px;
            &__button {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 30px;
                width: 60px;
                border: 0px;
                background: transparent;
                padding-bottom: 10px;
                padding-right: 25px;
                font-family: $buttonFont, sans-serif;
                font-size: 16px;
                color: #dedede;
                letter-spacing: 1px;
                cursor: pointer;
            }
            &__arrow-down {
                position: absolute;
                top: 4px;
                left: 42px;
                border: solid #dedede;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
            }
        }

        &__filters {
            display: none;
            height: 80px;
            width: 270px;
            flex-direction: row;
            justify-content: space-between;
            gap: 18px;
            margin-left: 0px;
            border-radius: 5px;
            background: #b6b6b6;
            z-index: 1;
            &__sliders {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-left: 20px;
                padding-right: 5px;
                &__distance-slider {
                    @extend double-range-slider;
                    &__header {
                        font-family: $font, sans-serif;
                        padding-bottom: 4px;
                        margin: 0px;
                    }
                    &__container {
                        @extend double-slider-container;
                    }
                    &__track {
                        @extend double-slider-track;
                    }
                }

                &__duration-slider {
                    @extend double-range-slider;
                    &__header {
                        font-family: $font, sans-serif;
                        padding-bottom: 6px;
                        margin: 0px;
                    }
                    &__container {
                        @extend double-slider-container;
                    }
                    &__track {
                        @extend double-slider-track;
                    }
                }
            }

            &__buttons {
                position: relative;
                width: 100px;
                height: 100%;
                &__reset {           
                    position: absolute;
                    right: 0px;
                    width: 30px;
                    height: 30px;
                    border: 0;
                    background: transparent;
                        background-image: url('../../data/closeIcon.svg');
                        background-size: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                        filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
                }

                &__dropdown {
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    width: 48px;
                    height: 24px;
                    &:hover .journeys__header__filters__buttons__dropdown__content {
                        display: block;
                    }
                    &__button {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                        border: 0px;
                        height: 24px;
                        width: 60px;
                        color: white;
                        background-color: #007AC9;
                        font-family: $buttonFont, sans-serif;
                        font-size: 13px;
                        text-align: right;
                        padding-right: 6px;
                        border-radius: 12px;
                        line-height: 24px;
                        -webkit-mask-image: radial-gradient(circle 13px at 0 12px, transparent 0, transparent 13px, black 12px);
                    }
                    &__content {
                        display: none;
                        position: absolute;
                        top: 20px;
                        right: 10px;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                        &:hover  {
                            background-color: #ddd;
                        }
                    }
                }
                &__search {
                    position: absolute;
                    bottom: 4px;
                    right: 61px;
                    border-radius: 12px;
                    height: 26px;
                    width: 26px;
                    border: 1px solid black;
                    background-color: transparent;
                    background-image: url('../../data/searchIcon.svg');
                    background-size: 60%;
                    background-position: 5px 5px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
                }
            }
        }
    }
    &__list {
        justify-self: center;
        grid-row: 3;
        margin-top: 38px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;
    }

    &__pagination {
        grid-row: 4;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        z-index: 1;
        &__button {
            border: 0px;
            border-radius: 13px;
            height: 26px;
            width: 80px;
            color: white;
            background-color: #007AC9;
            text-align: center;
            font-family: $buttonFont, sans-serif;

            &:disabled {
                display: none;
            }

            &:hover {
                background-color: #0065a8;
            }
        }
    }
}

.journey-display {
    position: relative;
    height: 14px;
    width: 500px;
    padding-bottom: 18px;
    padding-top: 9px;
    margin-bottom: 9px;
    background:transparent;
    border-bottom: 1px solid #929292;;
    z-index: 1;

    &__location {
        position: absolute;
        top: -4px;
        bottom: 4px;
        left: 0;
        width: 65%;
        border-bottom: 2px dashed rgb(119, 119, 119);
        &__biker {
            position: absolute;
            bottom: -4px;
            left: 50px;
            height: 28px;
            width: 28px;
            background-image: url('../../data/biker.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
        }
        &__from-text {
            position: absolute;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2px;
            margin-bottom: 5px;
            font-family: $font, sans-serif;
            font-size: 14px;
        }

        &__from-station {
            position: absolute;
            bottom: -2px;
            left: 15px;
            height: 25px;
            width: 25px;
            background-image: url('../../data/bikeParking.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &__to-text {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2px;
            margin-bottom: 5px;
            font-family: $font, sans-serif;
            font-size: 14px;
        }

        &__to-station {
            position: absolute;
            bottom: -2px;
            right: 15px;
            height: 25px;
            width: 25px;
            background-image: url('../../data/bikeParking.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }

    &__data {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        bottom: 9px;
        top: 0;
        right: 0;
        width: 33%;
        padding: 0px;
        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 100%;
            border: 2px solid;
            border-color: #007AC9;
            border-radius: 5px;
            background: #dedede;
            font-family: $font, sans-serif;
            font-size: 16px;
            font-weight: 100;
        }
    }
}