@import './colors-and-fonts';
@import './sliders';
.journeys {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 99%;
    z-index: 0;

    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-row: 1;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        padding-left: 10px;
        z-index: 1;
        
        &__text {
            z-index: 1;
            text-transform: uppercase;
            mix-blend-mode: difference;
            font-size: 70px;
            font-family: $font, sans-serif;
            font-weight: 500;
            font-stretch: expanded;
            letter-spacing: 0px;
            color: #007AC9;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100px;
        width: 50vw;
        max-width: 750px;
        margin-top: 10px;
        padding-right: 4px;
        gap: 10px;
        justify-self: center;
        padding-bottom: 6px;

        &__search {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 240px;
            height: 70px;
            margin-right: 10px;

            &__return {
                position: relative;
                
                &__logo {
                    @extend input-logo;
                    height: 25px;
                    width: 25px;
                    top: 7px;
                    left: 5px;
                    filter: invert(73%) sepia(9%) saturate(2369%) hue-rotate(283deg) brightness(98%) contrast(92%);
                }
        
                &__input {
                    @extend input-field;
                    padding-right: 0px;
                    padding-left: 30px;
                    width: calc(100% - 30px);
                    height: 35px;
                    &:focus {
                        @extend input-field-focus;
                    }
                }
            }

            &__departure {
                position: relative;
        
                &__logo {
                    @extend input-logo;
                    height: 25px;
                    width: 25px;
                    top: 7px;
                    left: 5px;
                    filter: invert(60%) sepia(37%) saturate(1265%) hue-rotate(52deg) brightness(102%) contrast(76%);
                }
        
                &__input {
                    @extend input-field;
                    padding-right: 0px;
                    padding-left: 30px;
                    width: calc(100% - 30px);
                    height: 35px;
                    &:focus {
                        @extend input-field-focus;
                    }
                }
            }
        }

        &__all {
            display: flex;
            position: relative;
            height: 76px;
            width: 274px;
            margin-left: 0px;
            &__button {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 30px;
                width: 60px;
                border: 0px;
                background: transparent;
                padding-bottom: 10px;
                padding-right: 25px;
                font-family: $buttonFont, sans-serif;
                font-size: 16px;
                color: #007AC9;
                letter-spacing: 1px;
                cursor: pointer;
            }
            &__arrow-down {
                position: absolute;
                top: 4px;
                left: 42px;
                border: solid #007AC9;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
            }
        }

        &__filters {
            display: none;
            height: 86px;
            width: 270px;
            flex-direction: row;
            justify-content: space-between;
            gap: 18px;
            margin-left: 0px;
            border-radius: 5px;
            background: white;
            border: 2px solid #007AC9;
            box-shadow: 0 0 3px #007AC9;
            outline-offset: 0px;
            outline: none;
            z-index: 1;
            &__sliders {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-left: 20px;
                padding-right: 5px;
                &__distance-slider {
                    @extend double-range-slider;
                    &__header {
                        font-family: $font, sans-serif;
                        text-align: center;
                        padding-bottom: 4px;
                        margin: 0px;
                    }
                    &__container {
                        @extend double-slider-container;
                    }
                    &__track {
                        @extend double-slider-track;
                    }
                }

                &__duration-slider {
                    @extend double-range-slider;
                    &__header {
                        font-family: $font, sans-serif;
                        text-align: center;
                        padding-bottom: 6px;
                        margin: 0px;
                    }
                    &__container {
                        @extend double-slider-container;
                    }
                    &__track {
                        @extend double-slider-track;
                    }
                }
            }

            &__buttons {
                position: relative;
                width: 100px;
                height: 100%;
                &__reset {           
                    position: absolute;
                    right: 0px;
                    width: 30px;
                    height: 30px;
                    border: 0;
                    background: transparent;
                        background-image: url('../../data/closeIcon.svg');
                        background-size: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                        filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
                }

                &__dropdown {
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    width: 48px;
                    height: 24px;
                    z-index: 0;
                    &:hover .journeys__header__filters__buttons__dropdown__content {
                        display: flex;
                        animation: growDown 300ms ease-out;
                        transform-origin: top center;
                        transform: scaleY(1);
                    }

                    &:hover .journeys__header__filters__buttons__dropdown__content_top-right {
                        display: flex;
                        animation: growRight 100ms ease-out;
                        transform-origin: left center;
                    }

                    &__button {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                        border: 0px;
                        height: 24px;
                        width: 60px;
                        color: white;
                        background-color: #007AC9;
                        font-family: $buttonFont, sans-serif;
                        font-size: 13px;
                        text-align: right;
                        padding-right: 6px;
                        border-radius: 12px;
                        line-height: 24px;
                        -webkit-mask-image: radial-gradient(circle 13px at 0 12px, transparent 0, transparent 13px, black 12px);
                    }
                    &__content {
                        display: flex;
                        position: absolute;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: height 0.2s;
                        transform: scaleY(0);
                        gap: 2px;
                        top: 23px;
                        left: -11px;
                        background-color: #007AC9;
                        width: 80px;
                        height: 110px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                        &_sort-btn {
                            width: 60px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: white;
                            border: 1px solid #696969;
                            border-radius: 5px;
                            &:hover {
                                background: #dedede;
                            }
                        }

                        &_top-right {
                            display: none;
                            position: absolute;
                            transition: width 1s;
                            top: 0px;
                            left: 31px;
                            height: 23px;
                            width: 38px;
                            border-top-right-radius: 13px;
                            background : #007AC9;
                            -webkit-mask-image: radial-gradient(circle 13px at 0 12px, transparent 0, transparent 13px, black 12px);

                        }

                        &:hover  {
                            background-color: #007AC9;
                        }
                    }
                }
                &__search {
                    position: absolute;
                    bottom: 4px;
                    right: 61px;
                    border-radius: 12px;
                    height: 26px;
                    width: 26px;
                    border: 1px solid black;
                    background-color: transparent;
                    background-image: url('../../data/searchIcon.svg');
                    background-size: 60%;
                    background-position: 5px 5px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
                }
            }
        }
    }
    &__list {
        justify-self: center;
        grid-row: 3;
        padding-top: 10px;
        z-index: 0;
    }

    &__pagination {
        grid-row: 4;
        display: flex;
        justify-content: center;
        gap: 10px;
        z-index: 1;
        &__button {
            border: 0px;
            border-radius: 13px;
            height: 26px;
            width: 80px;
            color: white;
            background-color: #007AC9;
            text-align: center;
            font-family: $buttonFont, sans-serif;

            &:disabled {
                display: none;
            }

            &:hover {
                background-color: #0065a8;
            }
        }
    }
}

@keyframes growRight {
    0% {
        width: 0px;
    }
    80% {
        width: 30px;
    }
    100% {
        width: 38px;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(0.8)
    }
    100% {
        transform: scaleY(1)
    }
}

.journey-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    max-width: 750px;
    height: 22px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    background:transparent;
    border-bottom: 1px solid #929292;
    cursor: default;

    &__location {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        height: 80%;
        &__from-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2px;
            margin-bottom: 5px;
            font-family: $font, sans-serif;
            font-size: 18px;
            text-align: start;
        }

        &__to-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2px;
            margin-bottom: 5px;
            font-family: $font, sans-serif;
            font-size: 18px;
            text-align: end;
        }

        &__arrow {
            height: 40px;
            width: 40px;
            background-image: url('../../data/arrow.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            z-index: 1;
        }
    }

    &__data {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 40px;
        width: 140px;
        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 100%;
            border: 2px solid;
            border-color: #007AC9;
            border-radius: 5px;
            font-family: $font, sans-serif;
            font-size: 16px;
            font-weight: 100;
        }
    }
}