@import './colors-and-fonts';
.station-information {
    display: flex;
    flex-direction: column;
    height: 1fr;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 380px;
    &__header {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;

        &__name {
            display: flex;
            flex-direction: column;
            gap: 2px;
            &__title {
                display: flex;
                justify-content: flex-start;
                text-transform: uppercase;
                font-size: 38px;
                font-family: $font, sans-serif;
                font-weight: 500;
                font-stretch: expanded;
                letter-spacing: 0px;
                color: #007AC9;
            }
            &__location {
                display: flex;
                justify-content: flex-start;
                text-transform: uppercase;
                font-size: 16px;
                font-family: $font, sans-serif;
                font-weight: 500;
                font-stretch: expanded;
                letter-spacing: 0px;
            }
        }

        &__close {
            position: relative;
            display: flex;
            right: 5px;
            height: 100%;
            width: 30px;
            &__btn {       
                position: absolute;
                right: -30px;
                width: 30px;
                height: 30px;
                border: 0;
                background: transparent;
                    background-image: url('../../data/closeIcon.svg');
                    background-size: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
            }
        }
    }

    &__selection {
        display: flex;
        align-items: center;
        justify-content:center;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        margin-right: 20px;
        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 320px;
            background: #DDDDDD;
            height: 40px;
            border-radius: 3px;
            &__btn {
                height: 36px;
                width: 105px;
                border-radius: 3px;
                border: 0px;
                transition: background-color .3s ease-out;
                z-index: 1;
                background: transparent;
                color: #888888;
                    font-family: $buttonFont, sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: expanded;
                    letter-spacing: 0px;
            }
        }
    }

    &__data {
        display: grid;
        grid-template-columns: 1fr 160px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 400px;
        z-index: 0;
        margin-right: 20px;
        &__month-filter {
            grid-row: 1;
            grid-column: 2;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &__dropdown {
                position: relative;
                padding: 2px;
                border: 1px solid;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                height: 45px;
                &__search {
                    display: flex;
                    flex-direction: row;
                    &__info {
                        pointer-events: none;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 80px;
                        &__title {
                            position: absolute;;
                            top: 2px;
                            left: 5px;
                            font-family: $buttonFont, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                font-stretch: expanded;
                                letter-spacing: 0px;
                                color: #767676;
                        }
                        &__current {
                            position: absolute;
                            bottom: 1px;
                            left: 5px;
                                font-family: $buttonFont, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                font-stretch: expanded;
                                letter-spacing: 0px;
                        }
                    }
                    &__logo {
                        pointer-events: none;
                        height: 45px;
                        width: 45px;
                        border-left: 1px solid #888888;
                    }
                }
                &__content {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 52px;
                    left: -1px;
                    width: 130px;
                    z-index: 1;
                    gap: 2px;
                    border: 1px solid rgb(138, 138, 138);
                    border-radius: 3px;
                    background: white;
                    box-shadow: 0 0 3px #aeaeae;

                    &__btn {
                        background: transparent;
                        border: 0px;
                        height: 25px;
                        text-align: left;
                            font-family: $buttonFont, sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            font-stretch: expanded;
                            letter-spacing: 0px;

                        &:hover {
                            background: #0079c970;
                        }
                    }
                }
            }
        }
        &__top-returning {
            grid-row: 1/4;
            grid-column: 1;
            padding-top: 8px;
            &__container {
                display: flex;
                flex-direction: column;
                background: #dedede;
                border-radius: 5px;
                &__title {
                    padding-top: 5px;
                    padding-left: 5px;
                    text-align: left;
                        font-family: $font, sans-serif;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        color: #007AC9;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    justify-content: left;
                    padding-left: 5px;
                        font-family: $font, sans-serif;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        & li {
                            display: flex;
                            margin-bottom: 6px;
                            counter-increment: list;
                            align-items: center;
                        }
                        & li::before {
                            content: counter(list);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            width: 20px;
                            background: #007AC9;
                            border-radius: 3px;
                            margin-right: 4px;
                        }
                        & li:nth-of-type(1n + 6) {
                            display: none;
                        }
                }
            }
        }
        &__top-departing {
            grid-row: 4/7;
            grid-column: 1;
            padding-top: 8px;
            &__container {
                display: flex;
                flex-direction: column;
                background: #dedede;
                border-radius: 5px;
                &__title {
                    padding-top: 5px;
                    padding-left: 5px;
                    text-align: left;
                        font-family: $font, sans-serif;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        color: #007AC9;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    justify-content: left;
                    padding-left: 5px;
                        font-family: $font, sans-serif;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        & li {
                            display: flex;
                            margin-bottom: 6px;
                            counter-increment: list;
                            align-items: center;
                        }
                        & li::before {
                            content: counter(list);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            width: 20px;
                            background: #007AC9;
                            border-radius: 3px;
                            margin-right: 4px;
                        }
                        & li:nth-of-type(1n + 6) {
                            display: none;
                        }
                }
            }
        }
        &__statistics {
            grid-row: 2/7;
            grid-column: 2;
            z-index: 0;
            padding: 10px;
            &__container {
                border-radius: 5px;
                background: #dedede;
                &__title {
                    padding: 2px;
                    font-family: $font, sans-serif;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-stretch: expanded;
                    letter-spacing: 0px;
                }
            }

        }
    }
}

.selected {
    background: #ffffff;
    color: #333333;
}

.animation {
    display: flex;
    animation: growDown 100ms ease-out;
    transform-origin: top center;
    transform: scaleY(1);
}

.focus {
    border: 1px solid #007AC9;
    box-shadow: 0 0 3px #007AC9;
    outline-offset: 0px;
    outline: none;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(0.8)
    }
    100% {
        transform: scaleY(1)
    }
}