@import './colors-and-fonts';
.station-information {
    @media all and (min-width: 1001px) {
        display: flex;
        flex-direction: column;
        height: 90vh;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 10px;
        width: 100%;
      }
      @media all and (min-width: 551px) and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        height: 700px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        width: 100%;
      }
      @media all and (max-width: 550px) {
        display: flex;
        flex-direction: column;
        height: 700px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        width: 100%;
      }
    &__header {
        display: flex;
        justify-content: space-between;
        height: 72px;
        width: 100%;

        &__name {
            display: flex;
            flex-direction: column;
            gap: 2px;
            &__title {
                display: flex;
                justify-content: flex-start;
                text-transform: uppercase;
                font-size: 38px;
                font-family: $font, sans-serif;
                font-weight: 500;
                font-stretch: expanded;
                letter-spacing: 0px;
                color: #007AC9;
            }
            &__location {
                display: flex;
                justify-content: flex-start;
                text-transform: uppercase;
                font-size: 16px;
                font-family: $font, sans-serif;
                font-weight: 500;
                font-stretch: expanded;
                letter-spacing: 0px;
            }
        }

        &__close {
            position: relative;
            display: flex;
            right: 5px;
            height: 100%;
            width: 30px;
            &__btn {       
                position: absolute;
                right: 0px;
                width: 30px;
                height: 30px;
                border: 0;
                background: transparent;
                    background-image: url('../../data/closeIcon.svg');
                    background-size: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
            }
        }
    }

    &__selection {
        display: flex;
        align-items: center;
        justify-content:center;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        margin-right: 20px;
        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 320px;
            background: #DDDDDD;
            height: 40px;
            border-radius: 3px;
            &__btn {
                height: 36px;
                width: 105px;
                border-radius: 3px;
                border: 0px;
                transition: background-color .3s ease-out;
                z-index: 1;
                background: transparent;
                color: #888888;
                    font-family: $buttonFont, sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: expanded;
                    letter-spacing: 0px;
            }
        }
    }

    &__data {
        @media screen and (min-width: 551px) {
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            height: 500px;
            z-index: 0;
            margin-right: 20px;
        }
        @media screen and (max-width: 550px) {
            display: grid;
            grid-template-columns: 1fr 100px;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            height: 500px;
            z-index: 0;
            margin-right: 20px;
        }
        &__month-filter {
            grid-row: 1;
            grid-column: 2;
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 10px;

            &__dropdown {
                position: relative;
                padding: 2px;
                border: 1px solid;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                height: 45px;
                &__search {
                    display: flex;
                    flex-direction: row;
                    &__info {
                        @media screen and (min-width: 551px) {
                            pointer-events: none;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: 80px;
                        }
                        @media screen and (max-width: 550px) {
                            pointer-events: none;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: 60px;
                        }
                        &__title {
                            position: absolute;;
                            top: 2px;
                            left: 5px;
                            font-family: $buttonFont, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                font-stretch: expanded;
                                letter-spacing: 0px;
                                color: #767676;

                        }
                        &__current {
                            @media screen and (min-width: 551px) {
                                position: absolute;
                                bottom: 1px;
                                left: 5px;
                                    font-family: $buttonFont, sans-serif;
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-stretch: expanded;
                                    letter-spacing: 0px;
                            }
                            @media screen and (max-width: 550px) {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                bottom: 1px;
                                left: 0px;
                                width: 100%;
                                    font-family: $buttonFont, sans-serif;
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-stretch: expanded;
                                    letter-spacing: 0px;
                            }
                        }
                    }
                    &__logo {
                        @media screen and (min-width: 551px) {
                            pointer-events: none;
                            height: 45px;
                            width: 45px;
                            border-left: 1px solid #888888;
                        }
                        @media screen and (max-width: 550px) {
                            display: none;
                        }
                    }
                }
                &__content {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 52px;
                    left: -1px;
                    width: 130px;
                    z-index: 1;
                    gap: 2px;
                    border: 1px solid rgb(138, 138, 138);
                    border-radius: 3px;
                    background: white;
                    box-shadow: 0 0 3px #aeaeae;

                    &__btn {
                        background: transparent;
                        border: 0px;
                        height: 25px;
                        text-align: left;
                            font-family: $buttonFont, sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            font-stretch: expanded;
                            letter-spacing: 0px;

                        &:hover {
                            background: #0079c970;
                        }
                    }
                }
            }
        }
        &__top-returning {
            grid-row: 1/5;
            grid-column: 1;
            padding-top: 8px;
            z-index: 10;
            min-width: 210px;
            &__container {
                display: flex;
                flex-direction: column;
                background: #f2f2f2;
                border-radius: 5px;
                padding: 2px;
                &__title {
                    padding-top: 5px;
                    padding-left: 5px;
                    text-align: left;
                        font-family: $font, sans-serif;
                        font-size: 30px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        color: #007AC9;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    justify-content: left;
                    padding-left: 5px;
                        font-family: $font, sans-serif;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        & li {
                            display: flex;
                            margin-bottom: 6px;
                            counter-increment: list;
                            align-items: center;
                        }
                        & li::before {
                            content: counter(list);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 25px;
                            width: 25px;
                            background: #007AC9;
                            border-radius: 3px;
                            margin-right: 4px;
                            color: white;
                        }
                        & li:nth-of-type(1n + 6) {
                            display: none;
                        }
                }
            }
        }
        &__top-departing {
            grid-row: 5/9;
            grid-column: 1;
            min-width: 210px;
            &__container {
                display: flex;
                flex-direction: column;
                background: #f2f2f2;
                border-radius: 5px;
                padding: 2px;
                &__title {
                    padding-top: 5px;
                    padding-left: 5px;
                    text-align: left;
                        font-family: $font, sans-serif;
                        font-size: 30px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        color: #007AC9;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    justify-content: left;
                    padding-left: 5px;
                        font-family: $font, sans-serif;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-stretch: expanded;
                        letter-spacing: 0px;
                        & li {
                            display: flex;
                            margin-bottom: 6px;
                            counter-increment: list;
                            align-items: center;
                        }
                        & li::before {
                            content: counter(list);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 25px;
                            width: 25px;
                            background: #007AC9;
                            border-radius: 3px;
                            margin-right: 4px;
                            color: white;
                        }
                        & li:nth-of-type(1n + 6) {
                            display: none;
                        }
                }
            }
        }
        &__statistics {
            grid-row: 2/8;
            grid-column: 2;
            z-index: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
            width: 100%;
            &__container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                &__departing {
                    @media screen and (min-width: 551px) {
                        display: flex;
                        flex-direction: column;
                        height: 100px;
                        position: relative;
                    }
                    @media screen and (max-width: 550px) {
                        display: flex;
                        flex-direction: column;
                        height: 135px;
                        position: relative;
                    }
                    &__container {
                        @media screen and (min-width: 551px) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border: 2px solid #007AC9;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            height: 80px;
                            width: 100%;
                        }
                        @media screen and (max-width: 550px) {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: space-between;
                            border: 2px solid #007AC9;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            padding-bottom: 20px;
                            padding-top: 10px;
                            height: 110px;
                            width: 100%;
                        }
                        &__all {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            &__img {
                                height: 40px;
                                width: 40px;
                                background-image: url('../../data/biker.svg');
                                background-size: 120%;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            &__trips {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                text-align: center;
                                    font-family: $buttonFont, sans-serif;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-stretch: expanded;
                                    letter-spacing: 0px;
                            }
                        }
                        &__avg {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            &__img {
                                height: 50px;
                                width: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform:translate(2px, 2px);
                                background-image: url('../../data/avgIcon.svg');
                                background-size: 130%;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            &__avg {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                padding-right: 6px;
                                text-align: center;
                                    font-family: $buttonFont, sans-serif;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-stretch: expanded;
                                    letter-spacing: 0px;
                            }
                        }
                    }
                    &__footer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #007AC9;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 20px;
                        padding: 2px;
                        color: white;
                        font-family: $buttonFont, sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            font-stretch: expanded;
                            letter-spacing: 0px;
                    }
                }
                &__returning {
                    @media screen and (min-width: 551px) {
                        display: flex;
                        flex-direction: column;
                        height: 100px;
                        position: relative;
                    }
                    @media screen and (max-width: 550px) {
                        display: flex;
                        flex-direction: column;
                        height: 135px;
                        position: relative;
                    }
                    &__container {
                        @media screen and (min-width: 551px) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background: white;
                            border: 2px solid #007AC9;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            height: 80px;
                            width: 100%;
                        }
                        @media screen and (max-width: 550px) {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: space-between;
                            background: white;
                            border: 2px solid #007AC9;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            padding-top: 10px;
                            padding-bottom: 20px;
                            height: 110px;
                            width: 100%;
                        }
                        &__all {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            &__img {
                                height: 40px;
                                width: 40px;
                                background-image: url('../../data/biker.svg');
                                background-size: 120%;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            &__trips {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                text-align: center;
                                    font-family: $buttonFont, sans-serif;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-stretch: expanded;
                                    letter-spacing: 0px;
                            }
                        }
                        &__avg {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            &__img {
                                height: 50px;
                                width: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform:translate(2px, 2px);
                                background-image: url('../../data/avgIcon.svg');
                                background-size: 130%;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            &__avg {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                text-align: center;
                                padding-right: 6px;
                                    font-family: $buttonFont, sans-serif;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-stretch: expanded;
                                    letter-spacing: 0px;
                            }
                        }
                    }
                    &__footer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #007AC9;
                        border-bottom-right-radius: 5px;
                        border-bottom-left-radius: 5px;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 20px;
                        padding: 2px;
                        color: white;
                        font-family: $buttonFont, sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            font-stretch: expanded;
                            letter-spacing: 0px;
                    }
                }
            }

        }
    }
    &__return {
        display: none;
        &__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            gap: 6px;
            &__btn {
                border: 0px;
                border-radius: 13px;
                height: 26px;
                width: 80px;
                color: white;
                background-color: #007AC9;
                text-align: center;
                font-family: $buttonFont, sans-serif;
                &:disabled {
                    display: none;
                }
    
                &:hover {
                    background-color: #0065a8;
                }
            }
        }
    }
    &__departure {
        display: none;
        &__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            gap: 6px;
            &__btn {
                border: 0px;
                border-radius: 13px;
                height: 26px;
                width: 80px;
                color: white;
                background-color: #007AC9;
                text-align: center;
                font-family: $buttonFont, sans-serif;
                &:disabled {
                    display: none;
                }
    
                &:hover {
                    background-color: #0065a8;
                }
            }
        }
    }
}

.selected {
    background: #ffffff;
    color: #333333;
}

.animation {
    display: flex;
    animation: growDown 100ms ease-out;
    transform-origin: top center;
    transform: scaleY(1);
}

.focus {
    border: 1px solid #007AC9;
    box-shadow: 0 0 3px #007AC9;
    outline-offset: 0px;
    outline: none;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(0.8)
    }
    100% {
        transform: scaleY(1)
    }
}

.loader-container {
    display: none;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid #007AC9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 75px;
    width: 100%;
    &__loader {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #FFF;
        box-shadow: -14px 0 #FFF, 14px 0 #FFF;
        animation: pulse 1.2s linear infinite;
    }
}
  
@keyframes pulse {
    25% {
      background: #FFF;
      box-shadow: -12px 0 #007AC9, 12px 0 #FFF;
    }
    50% {
      background: #007AC9;
      box-shadow: -12px 0 #FFF, 12px 0 #FFF;
    }
    75% {
      background: #FFF;
      box-shadow: -12px 0 #FFF, 12px 0 #007AC9;
    }
    100% {
        background: #FFF;
        box-shadow: -12px 0 #FFF, 12px 0 #FFF;
    }
}


.station-single-journey {
    margin: 2px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2px;

    &__departure {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: $font, sans-serif;
        font-weight: 500;
        font-stretch: expanded;
        letter-spacing: 0px;
    }

    &__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
        width: 140px;
        padding: 2px;
        &__distance {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            border: 2px solid #007AC9;
            border-radius: 5px;
            font-size: 14px;
            font-family: $font, sans-serif;
            font-weight: 500;
            font-stretch: expanded;
            letter-spacing: 1px;
        }
        &__duration {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            border: 2px solid #007AC9;
            border-radius: 5px;
            font-size: 14px;
            font-family: $font, sans-serif;
            font-weight: 500;
            font-stretch: expanded;
            letter-spacing: 1px;
        }
    }
}