.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
  width: 100%;
}
.header__logo {
  display: flex;
  justify-self: flex-start;
  width: 100px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.header__create-new {
  display: flex;
  justify-self: flex-end;
  height: 30px;
  width: 200px;
}

@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
input-logo, .journeys__header__search__departure__logo, .journeys__header__search__return__logo, .stations__search__field__logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-style: normal;
  background-image: url("../../data/stationLocation.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}

input-field, .journeys__header__search__departure__input, .journeys__header__search__return__input, .stations__search__field__input {
  height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  width: calc(100% - 60px);
  border-radius: 5px;
  background: #dedede;
  border: 1px solid;
  font-size: 15px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

input-field-focus, .journeys__header__search__departure__input :focus, .journeys__header__search__return__input :focus, .stations__search__field__input:focus {
  border: 2px solid #007AC9;
  box-shadow: 0 0 3px #007AC9;
  outline-offset: 0px;
  outline: none;
}

reset-btn, .stations__search__field__reset-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.stations {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60px 30px 524px 10px;
  background: #dedede;
  width: 100%;
  border-right: 2px solid #b4b4b4;
}
.stations__title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1;
  height: 100%;
  padding-top: 4px;
  padding-right: 10px;
}
.stations__title__text {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
  color: #007AC9;
}
.stations__search {
  grid-row: 2;
  position: relative;
  height: 100%;
  width: calc(100% - 40px);
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  justify-self: center;
}
.stations__search__field {
  position: relative;
}
.stations__list {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.stations__pagination {
  grid-row: 4;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.stations__pagination__button {
  border: 0px;
  border-radius: 13px;
  height: 26px;
  width: 80px;
  color: white;
  background-color: #007AC9;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.stations__pagination__button:disabled {
  display: none;
}
.stations__pagination__button:hover {
  background-color: #0065a8;
}

.station-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14px;
  width: 360px;
  padding-bottom: 18px;
  padding-top: 9px;
  margin-bottom: 9px;
  background: #dedede;
  border-bottom: 1px solid;
  border-color: #929292;
}
.station-display__id {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.455);
  height: 30px;
  width: 50px;
  background: #007AC9;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: white;
}
.station-display__location__name {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 2000;
  letter-spacing: 0.8px;
}
.station-display__location__address {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 100;
  letter-spacing: 0.2px;
}
.station-display__capasity {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 100;
  letter-spacing: 0.8px;
}
.station-display__bike-img {
  margin-top: 5px;
  height: 45px;
  width: 45px;
  background-image: url("../../data/bikeStation.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.stations__single-station {
  display: none;
}

@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
input-logo, .journeys__header__search__departure__logo, .journeys__header__search__return__logo, .stations__search__field__logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-style: normal;
  background-image: url("../../data/stationLocation.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}

input-field, .journeys__header__search__departure__input, .journeys__header__search__return__input, .stations__search__field__input {
  height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  width: calc(100% - 60px);
  border-radius: 5px;
  background: #dedede;
  border: 1px solid;
  font-size: 15px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

input-field-focus, .journeys__header__search__departure__input :focus, .journeys__header__search__return__input :focus, .stations__search__field__input:focus {
  border: 2px solid #007AC9;
  box-shadow: 0 0 3px #007AC9;
  outline-offset: 0px;
  outline: none;
}

reset-btn, .stations__search__field__reset-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 12px;
  width: 12px;
  background-color: #6f6f6f;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
}

double-slider-container, .journeys__header__filters__sliders__duration-slider__container, .journeys__header__filters__sliders__distance-slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

double-range-slider, .journeys__header__filters__sliders__duration-slider, .journeys__header__filters__sliders__distance-slider {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 100px;
}

double-slider-track, .journeys__header__filters__sliders__duration-slider__track, .journeys__header__filters__sliders__distance-slider__track {
  width: 100px;
  height: 4px;
  background: #007AC9;
  border-radius: 5px;
}

.journeys {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 70px 534px 10px;
  background: #dedede;
  width: 100%;
}
.journeys__title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1/3;
  width: 100%;
  height: 400px;
  padding-top: 4px;
}
.journeys__title__text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: -8px;
  color: #007AC9;
}
.journeys__header {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  justify-self: center;
}
.journeys__header__search {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 10px;
  width: 200px;
  height: 70px;
}
.journeys__header__search__return {
  position: relative;
}
.journeys__header__search__return__logo {
  height: 25px;
  width: 25px;
  top: 5px;
  left: 5px;
  filter: invert(73%) sepia(9%) saturate(2369%) hue-rotate(283deg) brightness(98%) contrast(92%);
}
.journeys__header__search__return__input {
  padding-right: 0px;
  padding-left: 30px;
  width: calc(100% - 30px);
}
.journeys__header__search__departure {
  position: relative;
}
.journeys__header__search__departure__logo {
  height: 25px;
  width: 25px;
  top: 5px;
  left: 5px;
  filter: invert(60%) sepia(37%) saturate(1265%) hue-rotate(52deg) brightness(102%) contrast(76%);
}
.journeys__header__search__departure__input {
  padding-right: 0px;
  padding-left: 30px;
  width: calc(100% - 30px);
}
.journeys__header__all {
  display: flex;
  position: relative;
  height: 80px;
  width: 290px;
  margin-left: 0px;
}
.journeys__header__all__button {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 30px;
  width: 60px;
  border: 0px;
  background: #007AC9;
  padding-bottom: 10px;
  padding-right: 25px;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  color: #dedede;
  letter-spacing: 1px;
  cursor: pointer;
}
.journeys__header__all__arrow-down {
  position: absolute;
  top: 4px;
  left: 42px;
  border: solid #dedede;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.journeys__header__filters {
  display: none;
  height: 80px;
  width: 280px;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  margin-left: 10px;
  border-radius: 5px;
  background: #dedede;
  z-index: 1;
}
.journeys__header__filters__sliders {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 5px;
}
.journeys__header__filters__sliders__distance-slider__header {
  font-family: "HCo Gotham XNarrow", sans-serif;
  padding-bottom: 4px;
  margin: 0px;
}
.journeys__header__filters__sliders__duration-slider__header {
  font-family: "HCo Gotham XNarrow", sans-serif;
  padding-bottom: 6px;
  margin: 0px;
}
.journeys__header__filters__buttons {
  position: relative;
  width: 100px;
  height: 100%;
}
.journeys__header__filters__buttons__reset {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}
.journeys__header__filters__buttons__dropdown {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 48px;
  height: 24px;
}
.journeys__header__filters__buttons__dropdown:hover .journeys__header__filters__buttons__dropdown__content {
  display: block;
}
.journeys__header__filters__buttons__dropdown__button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 0px;
  height: 24px;
  width: 60px;
  color: white;
  background-color: #007AC9;
  font-family: "Varela round", sans-serif;
  font-size: 13px;
  text-align: right;
  padding-right: 6px;
  border-radius: 12px;
  line-height: 24px;
  -webkit-mask-image: radial-gradient(circle 13px at 0 12px, transparent 0, transparent 13px, black 12px);
}
.journeys__header__filters__buttons__dropdown__content {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.journeys__header__filters__buttons__dropdown__content:hover {
  background-color: #ddd;
}
.journeys__header__filters__buttons__search {
  position: absolute;
  bottom: 4px;
  right: 61px;
  border-radius: 12px;
  height: 26px;
  width: 26px;
  border: 1px solid black;
  background-color: transparent;
  background-image: url("../../data/searchIcon.svg");
  background-size: 60%;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}
.journeys__list {
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.journeys__pagination {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.journeys__pagination__button {
  border: 0px;
  border-radius: 13px;
  height: 26px;
  width: 80px;
  color: white;
  background-color: #007AC9;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.journeys__pagination__button:disabled {
  display: none;
}
.journeys__pagination__button:hover {
  background-color: #0065a8;
}

.journey-display {
  position: relative;
  height: 14px;
  width: 500px;
  padding-bottom: 18px;
  padding-top: 9px;
  margin-bottom: 9px;
  background: transparent;
  border-bottom: 1px solid #c0c0c0;
}
.journey-display__location {
  position: absolute;
  top: -4px;
  bottom: 4px;
  left: 0;
  width: 65%;
  border-bottom: 2px dashed rgb(119, 119, 119);
}
.journey-display__location__biker {
  position: absolute;
  bottom: -4px;
  left: 50px;
  height: 28px;
  width: 28px;
  background-image: url("../../data/biker.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.journey-display__location__from-text {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 14px;
}
.journey-display__location__from-station {
  position: absolute;
  bottom: -2px;
  left: 15px;
  height: 25px;
  width: 25px;
  background-image: url("../../data/bikeParking.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.journey-display__location__to-text {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 14px;
}
.journey-display__location__to-station {
  position: absolute;
  bottom: -2px;
  right: 15px;
  height: 25px;
  width: 25px;
  background-image: url("../../data/bikeParking.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.journey-display__data {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  bottom: 9px;
  top: 0;
  right: 0;
  width: 33%;
  padding: 0px;
}
.journey-display__data__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
  border: 2px solid;
  border-color: #007AC9;
  border-radius: 5px;
  background: #dedede;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 12px;
  width: 12px;
  background-color: #6f6f6f;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
}

double-slider-container, .journeys__header__filters__sliders__distance-slider__container, .journeys__header__filters__sliders__duration-slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

double-range-slider, .journeys__header__filters__sliders__distance-slider, .journeys__header__filters__sliders__duration-slider {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 100px;
}

double-slider-track, .journeys__header__filters__sliders__distance-slider__track, .journeys__header__filters__sliders__duration-slider__track {
  width: 100px;
  height: 4px;
  background: #007AC9;
  border-radius: 5px;
}

.background {
  display: flex;
  justify-content: center;
  background: #dedede;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#header-background {
  background: #007AC9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#top-right-background {
  position: fixed;
  background-image: url("../../data/blob.svg");
  background-size: 1500px;
  background-repeat: no-repeat;
  top: 30px;
  right: -150px;
  height: 500px;
  width: 60%;
  z-index: 0;
  border: 2px solid;
  filter: invert(28%) sepia(100%) saturate(1681%) hue-rotate(184deg) brightness(91%) contrast(102%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  max-height: 720px;
  max-width: 1080px;
}
.grid > div {
  text-align: center;
  margin: 0px;
}
.grid__header {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 1;
}
.grid__right {
  display: flex;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 2;
}
.grid__left {
  display: flex;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 2;
  max-width: 720px;
}/*# sourceMappingURL=main.css.map */