@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100vw;
  height: 50px;
  background: #007AC9;
}
.header__logo {
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
@media all and (min-width: 1001px) {
  .header__switch {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .header__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 32px;
    border-radius: 3px;
  }
}
.header__switch__btn {
  height: 30px;
  width: 80px;
  border-radius: 3px;
  border: 0px;
  transition: background-color 0.3s ease-out;
  z-index: 1;
  background: transparent;
  color: black;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.header__create-new {
  position: relative;
  align-items: center;
  justify-content: center;
}
.header__create-new__btn {
  border: 0px;
  border-radius: 15px;
  height: 30px;
  width: 90px;
  margin-right: 15px;
  color: #0065a8;
  background-color: white;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.header__create-new__btn:disabled {
  display: none;
}
.header__create-new__btn:hover {
  background-color: #dedede;
}
.header__create-new__form {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #DEDEDE;
  top: 34px;
  right: 15px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.header__create-new__form__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 16px;
  width: 16px;
  border: 0px;
  background-image: url("../../data/closeIcon.svg");
  background-size: 100%;
  background-color: transparent;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}

.single-station-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  width: 100vw;
  height: 100%;
  background: #007AC9;
}
.single-station-header__logo {
  display: flex;
  justify-self: flex-start;
  width: 60px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.selected-switch {
  color: white;
}

@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
input-logo, .journeys__header__search__departure__logo, .journeys__header__search__return__logo, .stations__search__field__logo {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-style: normal;
  background-image: url("../../data/stationLocation.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}

input-field, .journeys__header__search__departure__input, .journeys__header__search__return__input, .stations__search__field__input {
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  width: calc(100% - 60px);
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

input-field-focus, .journeys__header__search__departure__input:focus, .journeys__header__search__return__input:focus, .stations__search__field__input:focus {
  border: 2px solid #007AC9;
  box-shadow: 0 0 3px #007AC9;
  outline-offset: 0px;
  outline: none;
}

reset-btn, .stations__search__field__reset-btn {
  display: none;
  position: absolute;
  top: 9px;
  right: 8px;
  width: 25px;
  height: 25px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (min-width: 1001px) {
  .stations {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #b4b4b4;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 461px) and (max-width: 1000px) {
  .stations {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media all and (max-width: 460px) {
  .stations {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 1001px) {
  .stations__title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-top: 8px;
    padding-right: 12px;
    z-index: 1;
    line-height: 0px;
  }
}
@media all and (max-width: 1000px) {
  .stations__title {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10px;
    height: 80px;
    width: 100%;
    line-height: 0px;
  }
}
.stations__title__text {
  text-transform: uppercase;
  font-size: 70px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
  color: #007AC9;
}
@media all and (min-width: 1001px) {
  .stations__search {
    height: 44px;
    margin-top: 10px;
    justify-self: center;
    width: 33vw;
  }
}
@media all and (max-width: 1000px) {
  .stations__search {
    width: 100%;
  }
}
.stations__search__field {
  position: relative;
}
@media all and (min-width: 1001px) {
  .stations__list {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 10px;
  }
}
@media all and (max-width: 1000px) {
  .stations__list {
    padding-top: 20px;
    width: 100%;
  }
}
.stations__pagination {
  grid-row: 4;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  padding-bottom: 10px;
}
.stations__pagination__button {
  border: 0px;
  border-radius: 13px;
  height: 26px;
  width: 80px;
  color: white;
  background-color: #007AC9;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.stations__pagination__button:disabled {
  display: none;
}
.stations__pagination__button:hover {
  background-color: #0065a8;
}

@media all and (min-width: 1001px) {
  .station-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
    width: 33vw;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #929292;
    z-index: 1;
    cursor: default;
  }
}
@media all and (min-width: 461px) and (max-width: 1000px) {
  .station-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #929292;
    z-index: 1;
    cursor: default;
  }
}
@media all and (max-width: 460px) {
  .station-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 22px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #929292;
    z-index: 1;
    cursor: default;
  }
}
.station-display__id {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.455);
  height: 35px;
  width: 50px;
  background: #007AC9;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: white;
}
@media screen and (min-width: 461px) {
  .station-display__location__name {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 2000;
    letter-spacing: 0.8px;
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .station-display__location__name {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 2000;
    letter-spacing: 0.8px;
    text-align: center;
    text-align: flex-start;
    padding-left: 10px;
  }
}
@media screen and (min-width: 461px) {
  .station-display__location__address {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 100;
    letter-spacing: 0.2px;
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .station-display__location__address {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 100;
    letter-spacing: 0.2px;
    text-align: flex-start;
    padding-left: 10px;
  }
}
@media screen and (min-width: 461px) {
  .station-display__capasity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 100;
    letter-spacing: 0.8px;
  }
}
@media screen and (max-width: 460px) {
  .station-display__capasity {
    display: none;
  }
}
.station-display__bike-img {
  margin-top: 5px;
  height: 45px;
  width: 45px;
  background-image: url("../../data/bikeStation.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.station-display__no-results {
  text-align: center;
  width: 360px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 100;
  letter-spacing: 0.8px;
}

@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
input-logo, .journeys__header__search__departure__logo, .journeys__header__search__return__logo, .stations__search__field__logo {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-style: normal;
  background-image: url("../../data/stationLocation.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}

input-field, .journeys__header__search__departure__input, .journeys__header__search__return__input, .stations__search__field__input {
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  width: calc(100% - 60px);
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

input-field-focus, .journeys__header__search__departure__input:focus, .journeys__header__search__return__input:focus, .stations__search__field__input:focus {
  border: 2px solid #007AC9;
  box-shadow: 0 0 3px #007AC9;
  outline-offset: 0px;
  outline: none;
}

reset-btn, .stations__search__field__reset-btn {
  display: none;
  position: absolute;
  top: 9px;
  right: 8px;
  width: 25px;
  height: 25px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 12px;
  width: 12px;
  background-color: #6f6f6f;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
}

double-slider-container, .journeys__header__filters__sliders__duration-slider__container, .journeys__header__filters__sliders__distance-slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

double-range-slider, .journeys__header__filters__sliders__duration-slider, .journeys__header__filters__sliders__distance-slider {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 100px;
}

double-slider-track, .journeys__header__filters__sliders__duration-slider__track, .journeys__header__filters__sliders__distance-slider__track {
  width: 100px;
  height: 4px;
  background: #007AC9;
  border-radius: 5px;
}

@media all and (min-width: 1001px) {
  .journeys {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 99%;
    z-index: 0;
  }
}
@media all and (min-width: 661px) and (max-width: 1000px) {
  .journeys {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media all and (max-width: 660px) {
  .journeys {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.journeys__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  grid-row: 1;
  width: 100%;
  height: 80px;
  padding-top: 8px;
  padding-left: 10px;
  z-index: 1;
  line-height: 0;
}
@media all and (min-width: 661px) {
  .journeys__title__text {
    z-index: 1;
    text-transform: uppercase;
    mix-blend-mode: difference;
    font-size: 70px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 500;
    font-stretch: expanded;
    letter-spacing: 0px;
    color: #007AC9;
  }
}
@media all and (max-width: 660px) {
  .journeys__title__text {
    z-index: 1;
    text-transform: uppercase;
    mix-blend-mode: difference;
    font-size: 60px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 500;
    font-stretch: expanded;
    letter-spacing: 0px;
    color: #007AC9;
  }
}
@media all and (min-width: 1001px) {
  .journeys__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    width: 50vw;
    max-width: 750px;
    margin-top: 10px;
    padding-right: 4px;
    gap: 10px;
    justify-self: center;
    padding-bottom: 6px;
  }
}
@media all and (min-width: 661px) and (max-width: 1000px) {
  .journeys__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    padding-right: 4px;
    gap: 10px;
    justify-self: center;
    padding-bottom: 6px;
  }
}
@media all and (max-width: 660px) {
  .journeys__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media all and (min-width: 661px) {
  .journeys__header__search {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 240px;
    height: 70px;
    margin-right: 10px;
  }
}
@media all and (max-width: 660px) {
  .journeys__header__search {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 70px;
    padding-bottom: 30px;
  }
}
.journeys__header__search__return {
  position: relative;
}
.journeys__header__search__return__logo {
  height: 25px;
  width: 25px;
  top: 7px;
  left: 5px;
  filter: invert(73%) sepia(9%) saturate(2369%) hue-rotate(283deg) brightness(98%) contrast(92%);
}
.journeys__header__search__return__input {
  padding-right: 0px;
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 35px;
}
.journeys__header__search__departure {
  position: relative;
}
.journeys__header__search__departure__logo {
  height: 25px;
  width: 25px;
  top: 7px;
  left: 5px;
  filter: invert(60%) sepia(37%) saturate(1265%) hue-rotate(52deg) brightness(102%) contrast(76%);
}
.journeys__header__search__departure__input {
  padding-right: 0px;
  padding-left: 30px;
  width: calc(100% - 30px);
  height: 35px;
}
@media all and (min-width: 661px) {
  .journeys__header__all {
    display: flex;
    position: relative;
    height: 76px;
    width: 274px;
    margin-left: 0px;
  }
}
@media all and (max-width: 660px) {
  .journeys__header__all {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 0px;
  }
}
@media all and (min-width: 661px) {
  .journeys__header__all__button {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 60px;
    border: 0px;
    background: transparent;
    padding-bottom: 10px;
    padding-right: 25px;
    font-family: "Varela round", sans-serif;
    font-size: 16px;
    color: #007AC9;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
@media all and (max-width: 660px) {
  .journeys__header__all__button {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 60px;
    border: 0px;
    background: transparent;
    padding-bottom: 10px;
    padding-right: 25px;
    font-family: "Varela round", sans-serif;
    font-size: 16px;
    color: #007AC9;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
.journeys__header__all__arrow-down {
  position: absolute;
  top: 4px;
  left: 42px;
  border: solid #007AC9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
@media all and (min-width: 661px) {
  .journeys__header__filters {
    display: none;
    height: 86px;
    width: 270px;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    margin-left: 0px;
    border-radius: 5px;
    background: white;
    border: 2px solid #007AC9;
    box-shadow: 0 0 3px #007AC9;
    outline-offset: 0px;
    outline: none;
    z-index: 1;
  }
}
@media all and (max-width: 660px) {
  .journeys__header__filters {
    display: none;
    height: 86px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    margin-left: 0px;
    border-radius: 5px;
    background: white;
    border: 2px solid #007AC9;
    box-shadow: 0 0 3px #007AC9;
    outline-offset: 0px;
    outline: none;
    z-index: 1;
  }
}
.journeys__header__filters__sliders {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 5px;
}
.journeys__header__filters__sliders__distance-slider__header {
  font-family: "HCo Gotham XNarrow", sans-serif;
  text-align: center;
  padding-bottom: 4px;
  margin: 0px;
}
.journeys__header__filters__sliders__duration-slider__header {
  font-family: "HCo Gotham XNarrow", sans-serif;
  text-align: center;
  padding-bottom: 6px;
  margin: 0px;
}
.journeys__header__filters__buttons {
  position: relative;
  width: 100px;
  height: 100%;
}
.journeys__header__filters__buttons__reset {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}
.journeys__header__filters__buttons__dropdown {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 48px;
  height: 24px;
  z-index: 0;
}
.journeys__header__filters__buttons__dropdown:hover .journeys__header__filters__buttons__dropdown__content {
  display: flex;
  animation: growDown 300ms ease-out;
  transform-origin: top center;
  transform: scaleY(1);
}
.journeys__header__filters__buttons__dropdown:hover .journeys__header__filters__buttons__dropdown__content_top-right {
  display: flex;
  animation: growRight 100ms ease-out;
  transform-origin: left center;
}
.journeys__header__filters__buttons__dropdown__button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 0px;
  height: 24px;
  width: 60px;
  color: white;
  background-color: #007AC9;
  font-family: "Varela round", sans-serif;
  font-size: 13px;
  text-align: right;
  padding-right: 6px;
  border-radius: 12px;
  line-height: 24px;
  -webkit-mask-image: radial-gradient(circle 13px at 0 12px, transparent 0, transparent 13px, black 12px);
}
.journeys__header__filters__buttons__dropdown__content {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.2s;
  transform: scaleY(0);
  gap: 2px;
  top: 23px;
  left: -11px;
  background-color: #007AC9;
  width: 80px;
  height: 110px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.journeys__header__filters__buttons__dropdown__content_sort-btn {
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #696969;
  border-radius: 5px;
}
.journeys__header__filters__buttons__dropdown__content_sort-btn:hover {
  background: #dedede;
}
.journeys__header__filters__buttons__dropdown__content_top-right {
  display: none;
  position: absolute;
  transition: width 1s;
  top: 0px;
  left: 31px;
  height: 23px;
  width: 38px;
  border-top-right-radius: 13px;
  background: #007AC9;
  -webkit-mask-image: radial-gradient(circle 13px at 0 12px, transparent 0, transparent 13px, black 12px);
}
.journeys__header__filters__buttons__dropdown__content:hover {
  background-color: #007AC9;
}
.journeys__header__filters__buttons__search {
  position: absolute;
  bottom: 4px;
  right: 61px;
  border-radius: 12px;
  height: 26px;
  width: 26px;
  border: 1px solid black;
  background-color: transparent;
  background-image: url("../../data/searchIcon.svg");
  background-size: 60%;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}
@media all and (min-width: 1001px) {
  .journeys__list {
    justify-self: center;
    grid-row: 3;
    padding-top: 10px;
    z-index: 0;
  }
}
@media all and (min-width: 661px) and (max-width: 1000px) {
  .journeys__list {
    padding-top: 10px;
    width: 100%;
  }
}
@media all and (max-width: 660px) {
  .journeys__list {
    padding-top: 40px;
    width: 100%;
  }
}
.journeys__pagination {
  grid-row: 4;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  padding-bottom: 10px;
}
.journeys__pagination__button {
  border: 0px;
  border-radius: 13px;
  height: 26px;
  width: 80px;
  color: white;
  background-color: #007AC9;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.journeys__pagination__button:disabled {
  display: none;
}
.journeys__pagination__button:hover {
  background-color: #0065a8;
}

@keyframes growRight {
  0% {
    width: 0px;
  }
  80% {
    width: 30px;
  }
  100% {
    width: 38px;
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@media all and (min-width: 1001px) {
  .journey-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    max-width: 750px;
    height: 22px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 1px solid #929292;
    cursor: default;
  }
}
@media all and (max-width: 1000px) {
  .journey-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 22px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 1px solid #929292;
    cursor: default;
  }
}
.journey-display__location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 80%;
}
@media all and (min-width: 661px) {
  .journey-display__location__from-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 20px;
    text-align: flex-start;
  }
}
@media all and (max-width: 660px) {
  .journey-display__location__from-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 14px;
    text-align: flex-start;
  }
}
@media all and (min-width: 661px) {
  .journey-display__location__to-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 20px;
    text-align: end;
  }
}
@media all and (max-width: 660px) {
  .journey-display__location__to-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 14px;
    text-align: end;
  }
}
@media all and (min-width: 661px) {
  .journey-display__location__arrow {
    height: 40px;
    width: 40px;
    background-image: url("../../data/arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
@media all and (max-width: 660px) {
  .journey-display__location__arrow {
    height: 30px;
    width: 30px;
    background-image: url("../../data/arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
@media all and (min-width: 661px) {
  .journey-display__data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40px;
    width: 140px;
  }
}
@media all and (max-width: 660px) {
  .journey-display__data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40px;
    width: 115px;
  }
}
@media all and (min-width: 661px) {
  .journey-display__data__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    border: 2px solid;
    border-color: #007AC9;
    border-radius: 5px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 16px;
    font-weight: 100;
  }
}
@media all and (max-width: 660px) {
  .journey-display__data__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    border: 2px solid;
    border-color: #007AC9;
    border-radius: 5px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 14px;
    font-weight: 100;
  }
}

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 12px;
  width: 12px;
  background-color: #6f6f6f;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
}

double-slider-container, .journeys__header__filters__sliders__distance-slider__container, .journeys__header__filters__sliders__duration-slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

double-range-slider, .journeys__header__filters__sliders__distance-slider, .journeys__header__filters__sliders__duration-slider {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 100px;
}

double-slider-track, .journeys__header__filters__sliders__distance-slider__track, .journeys__header__filters__sliders__duration-slider__track {
  width: 100px;
  height: 4px;
  background: #007AC9;
  border-radius: 5px;
}

@media all and (min-width: 1001px) {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .background-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background: transparent;
    z-index: -1;
  }
  .background-container--left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: -60vw;
    overflow: hidden;
    background: transparent;
    z-index: -1;
  }
  .grid__footer__splitter {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
  }
  .grid__footer__splitter svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
  }
  .grid__footer__splitter .shape-fill {
    fill: #FFFFFF;
  }
}
@media all and (max-width: 1001px) {
  .background-container {
    display: none;
  }
  .grid__footer__splitter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
  }
  .grid__footer__splitter svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
  }
  .grid__footer__splitter .shape-fill {
    fill: #FFFFFF;
  }
}
@font-face {
  font-family: "Varela round";
  src: url("../../data/varelaRound.ttf");
}
@media all and (min-width: 1001px) {
  .station-information {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
  }
}
@media all and (min-width: 551px) and (max-width: 1000px) {
  .station-information {
    display: flex;
    flex-direction: column;
    height: 700px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    width: 100%;
  }
}
@media all and (max-width: 550px) {
  .station-information {
    display: flex;
    flex-direction: column;
    height: 700px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 100%;
  }
}
.station-information__header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  width: 100%;
}
.station-information__header__name {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.station-information__header__name__title {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
  color: #007AC9;
}
.station-information__header__name__location {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__header__close {
  position: relative;
  display: flex;
  right: 5px;
  height: 100%;
  width: 30px;
}
.station-information__header__close__btn {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  background-image: url("../../data/closeIcon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(28%) sepia(100%) saturate(994%) hue-rotate(176deg) brightness(106%) contrast(105%);
}
.station-information__selection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  margin-right: 20px;
}
.station-information__selection__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  background: #DDDDDD;
  height: 40px;
  border-radius: 3px;
}
.station-information__selection__container__btn {
  height: 36px;
  width: 105px;
  border-radius: 3px;
  border: 0px;
  transition: background-color 0.3s ease-out;
  z-index: 1;
  background: transparent;
  color: #888888;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
@media screen and (min-width: 551px) {
  .station-information__data {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
    z-index: 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
    z-index: 0;
    margin-right: 20px;
  }
}
.station-information__data__month-filter {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.station-information__data__month-filter__dropdown {
  position: relative;
  padding: 2px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 45px;
}
.station-information__data__month-filter__dropdown__search {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 551px) {
  .station-information__data__month-filter__dropdown__search__info {
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80px;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__month-filter__dropdown__search__info {
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60px;
  }
}
.station-information__data__month-filter__dropdown__search__info__title {
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
  color: #767676;
}
@media screen and (min-width: 551px) {
  .station-information__data__month-filter__dropdown__search__info__current {
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-family: "Varela round", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: expanded;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__month-filter__dropdown__search__info__current {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1px;
    left: 0px;
    width: 100%;
    font-family: "Varela round", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: expanded;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 551px) {
  .station-information__data__month-filter__dropdown__search__logo {
    pointer-events: none;
    height: 45px;
    width: 45px;
    border-left: 1px solid #888888;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__month-filter__dropdown__search__logo {
    display: none;
  }
}
.station-information__data__month-filter__dropdown__content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 52px;
  left: -1px;
  width: 130px;
  z-index: 1;
  gap: 2px;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 3px #aeaeae;
}
.station-information__data__month-filter__dropdown__content__btn {
  background: transparent;
  border: 0px;
  height: 25px;
  text-align: left;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__month-filter__dropdown__content__btn:hover {
  background: rgba(0, 121, 201, 0.4392156863);
}
.station-information__data__top-returning {
  grid-row: 1/5;
  grid-column: 1;
  padding-top: 8px;
  z-index: 10;
  min-width: 210px;
}
.station-information__data__top-returning__container {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 2px;
}
.station-information__data__top-returning__container__title {
  padding-top: 5px;
  padding-left: 5px;
  text-align: left;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
  color: #007AC9;
}
.station-information__data__top-returning__container__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: left;
  padding-left: 5px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__top-returning__container__list li {
  display: flex;
  margin-bottom: 6px;
  counter-increment: list;
  align-items: center;
}
.station-information__data__top-returning__container__list li::before {
  content: counter(list);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background: #007AC9;
  border-radius: 3px;
  margin-right: 4px;
  color: white;
}
.station-information__data__top-returning__container__list li:nth-of-type(1n + 6) {
  display: none;
}
.station-information__data__top-departing {
  grid-row: 5/9;
  grid-column: 1;
  min-width: 210px;
}
.station-information__data__top-departing__container {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 2px;
}
.station-information__data__top-departing__container__title {
  padding-top: 5px;
  padding-left: 5px;
  text-align: left;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
  color: #007AC9;
}
.station-information__data__top-departing__container__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: left;
  padding-left: 5px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__top-departing__container__list li {
  display: flex;
  margin-bottom: 6px;
  counter-increment: list;
  align-items: center;
}
.station-information__data__top-departing__container__list li::before {
  content: counter(list);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background: #007AC9;
  border-radius: 3px;
  margin-right: 4px;
  color: white;
}
.station-information__data__top-departing__container__list li:nth-of-type(1n + 6) {
  display: none;
}
.station-information__data__statistics {
  grid-row: 2/8;
  grid-column: 2;
  z-index: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  width: 100%;
}
.station-information__data__statistics__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 551px) {
  .station-information__data__statistics__container__departing {
    display: flex;
    flex-direction: column;
    height: 100px;
    position: relative;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__statistics__container__departing {
    display: flex;
    flex-direction: column;
    height: 135px;
    position: relative;
  }
}
@media screen and (min-width: 551px) {
  .station-information__data__statistics__container__departing__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #007AC9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 80px;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__statistics__container__departing__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #007AC9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 95px;
    width: 100%;
  }
}
.station-information__data__statistics__container__departing__container__all {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.station-information__data__statistics__container__departing__container__all__img {
  height: 40px;
  width: 40px;
  background-image: url("../../data/biker.svg");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}
.station-information__data__statistics__container__departing__container__all__trips {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  font-family: "Varela round", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__statistics__container__departing__container__avg {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.station-information__data__statistics__container__departing__container__avg__img {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(2px, 2px);
  background-image: url("../../data/avgIcon.svg");
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
}
.station-information__data__statistics__container__departing__container__avg__avg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding-right: 6px;
  text-align: center;
  font-family: "Varela round", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__statistics__container__departing__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007AC9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 2px;
  color: white;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
@media screen and (min-width: 551px) {
  .station-information__data__statistics__container__returning {
    display: flex;
    flex-direction: column;
    height: 100px;
    position: relative;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__statistics__container__returning {
    display: flex;
    flex-direction: column;
    height: 135px;
    position: relative;
  }
}
@media screen and (min-width: 551px) {
  .station-information__data__statistics__container__returning__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 2px solid #007AC9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 80px;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .station-information__data__statistics__container__returning__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border: 2px solid #007AC9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 95px;
    width: 100%;
  }
}
.station-information__data__statistics__container__returning__container__all {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.station-information__data__statistics__container__returning__container__all__img {
  height: 40px;
  width: 40px;
  background-image: url("../../data/biker.svg");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}
.station-information__data__statistics__container__returning__container__all__trips {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  font-family: "Varela round", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__statistics__container__returning__container__avg {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.station-information__data__statistics__container__returning__container__avg__img {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(2px, 2px);
  background-image: url("../../data/avgIcon.svg");
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
}
.station-information__data__statistics__container__returning__container__avg__avg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  padding-right: 6px;
  font-family: "Varela round", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__data__statistics__container__returning__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007AC9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 2px;
  color: white;
  font-family: "Varela round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-information__return {
  display: none;
}
.station-information__return__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 6px;
}
.station-information__return__pagination__btn {
  border: 0px;
  border-radius: 13px;
  height: 26px;
  width: 80px;
  color: white;
  background-color: #007AC9;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.station-information__return__pagination__btn:disabled {
  display: none;
}
.station-information__return__pagination__btn:hover {
  background-color: #0065a8;
}
.station-information__departure {
  display: none;
}
.station-information__departure__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 6px;
}
.station-information__departure__pagination__btn {
  border: 0px;
  border-radius: 13px;
  height: 26px;
  width: 80px;
  color: white;
  background-color: #007AC9;
  text-align: center;
  font-family: "Varela round", sans-serif;
}
.station-information__departure__pagination__btn:disabled {
  display: none;
}
.station-information__departure__pagination__btn:hover {
  background-color: #0065a8;
}

.selected {
  background: #ffffff;
  color: #333333;
}

.animation {
  display: flex;
  animation: growDown 100ms ease-out;
  transform-origin: top center;
  transform: scaleY(1);
}

.focus {
  border: 1px solid #007AC9;
  box-shadow: 0 0 3px #007AC9;
  outline-offset: 0px;
  outline: none;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
.loader-container {
  display: none;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid #007AC9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 75px;
  width: 100%;
}
.loader-container__loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: -14px 0 #FFF, 14px 0 #FFF;
  animation: pulse 1.2s linear infinite;
}

@keyframes pulse {
  25% {
    background: #FFF;
    box-shadow: -12px 0 #007AC9, 12px 0 #FFF;
  }
  50% {
    background: #007AC9;
    box-shadow: -12px 0 #FFF, 12px 0 #FFF;
  }
  75% {
    background: #FFF;
    box-shadow: -12px 0 #FFF, 12px 0 #007AC9;
  }
  100% {
    background: #FFF;
    box-shadow: -12px 0 #FFF, 12px 0 #FFF;
  }
}
.station-single-journey {
  margin: 2px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
.station-single-journey__departure {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.station-single-journey__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  width: 140px;
  padding: 2px;
}
.station-single-journey__data__distance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border: 2px solid #007AC9;
  border-radius: 5px;
  font-size: 14px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 1px;
}
.station-single-journey__data__duration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border: 2px solid #007AC9;
  border-radius: 5px;
  font-size: 14px;
  font-family: "HCo Gotham XNarrow", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 1px;
}

@media all and (min-width: 1001px) {
  .map {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: relative;
    border-left: 2px solid #dedede;
  }
}
@media all and (max-width: 1000px) {
  .map {
    z-index: 0;
    height: 100%;
    width: 100%;
    padding: 40px;
    background: #bbe6ff;
    position: relative;
    border-left: 2px solid #dedede;
  }
}
.map__menu {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  z-index: 5;
}
.map__menu__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  background: #DDDDDD;
  height: 34px;
  border-radius: 3px;
}
.map__menu__btn-container__btn {
  height: 30px;
  width: 80px;
  border-radius: 3px;
  border: 0px;
  transition: background-color 0.3s ease-out;
  z-index: 1;
  background: transparent;
  color: #888888;
  font-family: "Varela round", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: expanded;
  letter-spacing: 0px;
}
.map__menu__btn-container__clear-btn {
  margin-left: 2px;
  width: 34px;
  height: 34px;
  border: 0;
  background: #DDDDDD;
  background-image: url("../../data/closeIcon.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.map__menu__btn-container__clear-btn:hover {
  filter: invert(4%);
}
@media all and (min-width: 1001px) {
  .map__container {
    height: 100%;
  }
}
@media all and (max-width: 1000px) {
  .map__container {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.marker {
  background-image: url("../../data/mapStation.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
}

.selected {
  background: #ffffff;
  color: #333333;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #bbe6ff;
  padding: 40px;
}
.footer__content {
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer__content__map {
  height: 100%;
  width: 100%;
}

@media all and (min-width: 1001px) {
  .grid {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 1fr 400px;
    width: 100vw;
    height: 100vh;
  }
}
@media all and (max-width: 1000px) {
  .grid {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 400px;
    width: 100vw;
    height: 100vh;
  }
}
.grid--single {
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 50px 1fr;
  min-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.grid__header {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 1;
}
@media all and (min-width: 1001px) {
  .grid__right {
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
  }
}
@media all and (max-width: 1000px) {
  .grid__right {
    display: none;
  }
}
.grid__left {
  position: relative;
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
}
.grid__footer {
  position: relative;
  display: flex;
  align-items: center;
  grid-row: 3;
  grid-column: 1/3;
  padding-top: 40px;
}

@media all and (min-width: 1001px) {
  .grid-single {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 50px 1fr;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}
@media all and (max-width: 1000px) {
  .grid-single {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 400px;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}
.grid-single__header {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 1;
}
@media all and (min-width: 1001px) {
  .grid-single__right {
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
  }
}
@media all and (max-width: 1000px) {
  .grid-single__right {
    position: relative;
    display: flex;
    justify-content: center;
    grid-row: 3;
  }
}
@media all and (min-width: 1001px) {
  .grid-single__right__splitter {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .grid-single__right__splitter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
  }
  .grid-single__right__splitter svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
  }
  .grid-single__right__splitter .shape-fill {
    fill: #FFFFFF;
  }
}
.grid-single__left {
  position: relative;
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
}/*# sourceMappingURL=main.css.map */