@import './headers';
@import './stationList';
@import './input';
@import './journeysList';
@import './sliders.scss';
@import './backgrounds';
@import './single-station-view';
@import './map';
@import './footer';

.grid {
  @media all and (min-width: 1001px) {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 1fr 400px;
    width: 100vw;
    height: 100vh;
  }
  @media all and (max-width: 1000px) {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 400px;
    width: 100vw;
    height: 100vh;
  }
  &--single {
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 50px 1fr;
    min-width: 1000px;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  &__header {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1;
  }

  &__right {
    @media all and (min-width: 1001px) {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 2;
      grid-row: 2;
    }
    @media all and (max-width: 1000px) {
      display: none;
    }
  }
  &__left {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 1;
      grid-row: 2;
  }
  &__footer {
    position: relative;
    display: flex;
    align-items: center;
    grid-row: 3;
    grid-column: 1/3;
    padding-top: 40px;
  }
}

.grid-single {
  @media all and (min-width: 1001px) {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 50px 1fr;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  @media all and (max-width: 1000px) {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 400px;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  &__header {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1;
  }

  &__right {
    @media all and (min-width: 1001px) {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 2;
      grid-row: 2;
    }
    @media all and (max-width: 1000px) {
      position: relative;
      display: flex;
      justify-content: center;
      grid-row: 3;
    }
    &__splitter {
      @media all and (min-width: 1001px) {
        display: none;
      }
      @media all and (max-width: 1000px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
        & svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 20px;
        }
        & .shape-fill {
            fill: #FFFFFF;
        }
      }
    }
  }
  &__left {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 1;
      grid-row: 2;
  }
}