
@import './header';
@import './stationList';
@import './singleStation';
@import './input';
@import './journeysList';
@import './sliders.scss';
@import './backgrounds';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  min-width: 1000px;

  &>div {
    text-align: center;
    margin: 0px;
  }

  &__header {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1;
  }

  &__right {
    display: flex;
    justify-content: center;
    grid-column: 2/4;
    grid-row: 2;
  }

  &__left {
    display: flex;
    justify-content: center;
    grid-column: 1/1;
    grid-row: 2;
    max-width: 720px;
  }
}