  
  .journeyFilters-container {
    height: 45px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
  }
  
  .search-container {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 5px;
  }

.button {
  padding: 0px;
  justify-self: center;
  height: 18px;
  width: 50px;
  text-transform: uppercase;
    font-size: 10px;
    font-family: "Work Sans", sans-serif;
    font-weight: 2000;
    letter-spacing: 0.8px;
}

.sortButton {
  padding: 0px;
  justify-self: center;
  height: 25px;
  width: 75px;
  text-transform: uppercase;
    font-size: 10px;
    font-family: "Work Sans", sans-serif;
    font-weight: 2000;
    letter-spacing: 0.8px;
}

input[type=text] {
  border-radius: 5px;
  border: 1px solid;
  height: 17px;
  width: 120px;
}

.pagination-button  {
  padding: 0px;
  border: 1px solid;
  border-radius: 5px;
  height: 25px;
  width: 60px;
}

.pagination-button:hover {
  padding: 0px;
  transform: translateY(2px);
  color: rgb(30, 30, 30);
  box-shadow: .0rem 0 5px #777;
  border: 1px solid;
  border-radius: 5px;
  height: 25px;
  width: 60px;
}


  .resetButton-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p:hover {background-color: #ddd;}
  
  .dropdown-container:hover .dropdown-content {display: block;}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.distanceSlider-header{
  padding: 5px;
}

.durationSlider-header {
  padding: 5px;
}

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.rangeSlider {
  position: relative;
  justify-content: center;
  display: flex;
  height: 50px;
  padding-top: 20px;
  width: 500px;
}

.slider-track {
  width: 100%;
  height: 4px;
  background: rgb(21, 0, 255);
  border-radius: 5px;
}

input[type="range"]{
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb{
  appearance: none;
  height: 12px;
  width: 12px;
  background-color: #6f6f6f;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
}