.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  
.grid-container > div {
  text-align: center;
  }

.left-container {
  display: flex;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 1;
}

.right-container {
  display: flex;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 1;
}
