@font-face {
  font-family: bajigoor;
  src: url('../data/Bajigoor-X3P5a.ttf')
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.grid-container {
  display: grid;
  grid-auto-columns: auto auto;
  grid-auto-rows: 1fr;
  }
  
.grid-container > div {
  text-align: center;
  }

.left-container {
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
}

.right-container {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
}
