.headerBox-container {
    background: #007AC9;
    width: 100%;
}

.hslLogo-container {
    display: flex;
    position: absolute;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.createNew-container {
    display: flex;
    position: absolute;
    right: 10px;
    top: 20px;
}