.station-container {
    display: flex;
    flex-direction: column;
    background: #007AC9;
    border-right: 2px solid;
    border-color: #acacac;
    width: 100%;
    align-items: center;
}

.stationHeader-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}

.stationHeader {
    text-transform: uppercase;
    font-size: 60px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    color: #dadada;
}

.singleStation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 360px;
    padding: 5px;
    margin-bottom: 2px;
    background:#dededec3;
    border-radius: 5px;
  }


.stationFilter-container {
    display: flex;
    margin-bottom: 5px;
    width: 326px;
}

.stationSearch-container {
    position: relative;
    width: 100%;
}

.stationInputLogo-container {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-style: normal;
    background-image: url('../data/stationLocation.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.stationInput {
    height: 35px;
    padding-left: 40px;
    width: 100%;
    border-radius: 5px;
    background: #dedede;
    border: 1px solid;
        font-size: 15px;
        font-family: "HCo Gotham XNarrow", sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
}

.stationInput:focus {
    border: 1px solid #050505;
    box-shadow: 0 0 3px #000000;
    outline-offset: 0px;
    outline: none;
}

.reset-button {
    display: none;
    position: absolute;
    top: 11px;
    right: -32px;
    width: 18px;
    height: 18px;
    border: 0;
    background: #dedede;
    background-image: url('../data/closeIcon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.stationID-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.455);
    height: 30px;
    width: 30px;
    background: #dedede;
    text-transform: uppercase;
        font-size: 20px;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
        letter-spacing: 0.8px;
}

.stationName-container {
    text-transform: uppercase;
        font-size: 16px;
        font-family: "Work Sans", sans-serif;
        font-weight: 2000;
        letter-spacing: 0.8px;
}

.bike-image {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    background-image: url('../data/bike.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.stationAdress-container {
    text-transform: uppercase;
        font-size: 10px;
        font-family: "Work Sans", sans-serif;
        font-weight: 2000;
        letter-spacing: 0.8px;
}

.stationCapasity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
        font-size: 20px;
        font-family: "Work Sans", sans-serif;
        font-weight: 100;
        letter-spacing: 0.8px;
}