.station-container {
    display: flex;
    flex-direction: column;
    background: #dedede;
    border-right: 2px solid;
    border-color: #acacac;
    width: 100%;
    align-items: center;
}

.stationHeader-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 4px;
    padding-right: 20px;
}

.stationHeader {
    text-transform: uppercase;
    font-size: 50px;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-weight: 500;
    font-stretch: expanded;
    letter-spacing: 0px;
    color: #007AC9;
}

.list-container {
    padding-top: 20px;
}

.singleStation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    width: 360px;
    padding-bottom: 18px;
    padding-top: 9px;
    margin-bottom: 9px;
    background:#dedede;
    border-bottom: 1px solid;
    border-color: #929292;
  }


.stationFilter-container {
    display: flex;
    margin-bottom: 20px;
    width: 296px;
}

.stationSearch-container {
    position: relative;
    width: 100%;
}

.stationID-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.455);
    height: 30px;
    width: 50px;
    background: #007AC9;
    text-transform: uppercase;
        font-size: 18px;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
        letter-spacing: 0.8px;
        color: white;
}

.stationName-container {
    text-transform: uppercase;
        font-size: 16px;
        font-family: "HCo Gotham XNarrow", sans-serif;
        font-weight: 2000;
        letter-spacing: 0.8px;
}

.bike-image {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    background-image: url('../data/bike.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.stationAdress-container {
    text-transform: uppercase;
        font-size: 10px;
        font-family: "HCo Gotham XNarrow", sans-serif;
        font-weight: 100;
        letter-spacing: 0.2px;
}

.stationCapasity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
        font-size: 20px;
        font-family: "HCo Gotham XNarrow", sans-serif;
        font-weight: 100;
        letter-spacing: 0.8px;
}